* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;	

	--ff-main: 'Open Sans', sans-serif;
	--fc-main-white: hsl(0,0%,100%);
}

body::before {
	content: '';
	width: 100%;
	height: 36rem;
	background: linear-gradient(135deg, #081449, #214c5b, #2f87a2,#42d3ff);
	background-size: 300% 300%;
	animation: transitionColors 15s ease infinite;

	z-index: -1;
	position: absolute;
	top: 0;
}

body {
	font-family:  var(--ff-main);
	background-color: hsl(17.1,25.9%,94.7%);
}

header {
	color: var(--fc-main-white);
	text-align: center;
}

.logo {
	position: absolute;
	
	top: 2rem;
	left: 5rem;
}

header h1 {
	padding: 6rem 0 2rem;
	font-size: 4rem;
}

header p {
	font-size: 1.8rem;
}

header a {
	text-decoration: none;
	color: var(--fc-main-white);
}

header a:hover {
	color: hsl(183.9,88.4%,62.7%);
}

header h2 {
	padding: 4rem 0 3rem;
	font-size: 2.6rem;
	letter-spacing: 4px;
}

main {
	display: grid;
	justify-content: center;
	grid-template-areas: 
	"H G F"
	"E D C"
	"B A I";
	grid-template-columns: 30rem 30rem 30rem;
	gap: 3.5rem;
}

main > div:nth-child(1),
main > div:nth-child(2) {
	display: none;
}

main div:nth-child(1) {
	grid-area: A;
}

main div:nth-child(2) {
	grid-area: B;
}

main div:nth-child(3) {
	grid-area: C;
}

main div:nth-child(4) {
	grid-area: D;
}

main div:nth-child(5) {
	grid-area: E;
}

main div:nth-child(6) {
	grid-area: F;
}

main div:nth-child(7) {
	grid-area: G;
}

main div:nth-child(8) {
	grid-area: H;
}

/*
Future next implement

main div:nth-child(9) {
	grid-area: I;
}

*/

button {
	display: block;
	margin: auto;
	cursor: pointer;
	padding: 1.2rem 6rem;
	
	font-family: var(--ff-main);
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--fc-main-white);
	background-color: hsl(194.1,55%,41%);
	
	border: none;
	border-radius: 4px;
}

button:hover {
	background-color: hsl(228.9,80.2%,15.9%);
	transition: 0.7s;
}

.card {
	position: relative;
	background: var(--fc-main-white);
	border-radius: 6px;
	height: fit-content;

	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.card:hover {
	transform: translateY(-1.7rem);
	transition: 0.7s;
}

.card:hover .description{
	background: hsl(195.5,59.2%,30.8%);
	color: hsl(17.1,25.9%,94.7%);
}

.card:hover .description a{
	color: hsl(17.1,25.9%,94.7%);
}

.card img {
	display: block;
	cursor: pointer;
	width: 30rem;
	height: 16.8rem;
	border-radius: 5px 5px 0 0;
}

/*For under construction card - css starts here*/
.card:last-child img{
	filter: blur(2px)
}

.card:last-child p{
	text-align: center;
}

.loading-bar {
  background: hsl(0,0%,90.2%);
  justify-content: flex-start;
  border-radius: 8px;
  align-items: center;
  position: relative;
  padding: 0 2px;
  display: flex;
  height: 16px;
  width: 100%;
}

.card:hover .loading-value {
	animation: load 2s normal forwards;
	border-radius: 6px;
  background: hsl(190.3,77.5%,40%);
  height: 12px;
  width: 0;
}
/*Under construction card - CSS finishes here*/

.description {
	color: hsl(228.8,80%,15.7%);

	height: 13rem;
	padding: 0.5rem 2rem 2rem;
	border-radius: 0 0 5px 5px;

	transition: 0.5s;	
}

.description h2 {
	font-size: 1.8rem;
	padding-bottom: 1rem;
}

.description h3 {
	font-size: 1.4rem;
	color:hsl(0,0%,65.1%);
}

.description p {
	font-size: 1.4rem;
}

.description a {
	position: absolute;
	left: 2rem;
	bottom: 1rem;
	
	font-size: 1.2rem;
	text-decoration: none;
	color: hsl(228.8,80%,15.7%);
}

footer {
	padding: 4rem 0 4rem;
	text-align: center;
	font-size: 1.4rem;
}

footer p {
	padding-bottom: 2rem;
}

/*Animation*/
@keyframes transitionColors {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

/*Animation for progress bar*/
@keyframes load {
  0% { 
    width: 0;
  }
    
  100% { 
		width: 45%;
  }
}

@media(max-width: 1030px) {
	main {
		grid-template-areas: 
		"H G"
		"F E"
		"D C"
		"B A";
		grid-template-columns: 30rem 30rem;
	}

	main > div:nth-child(1),
	main > div:nth-child(2),
	main > div:nth-child(3),
	main > div:nth-child(4) {
		display: none;
	}

}

@media(max-width: 767px) {
	.logo {
		top: 2rem;
		left: 2rem;
	}

	.logo svg {
		width: 180px;
	}

	header {
		width: clamp(33rem, 23rem + 26vw, 76rem);
		margin: auto;
		padding-bottom: 1rem;
	}

	header h1 {
		font-size: 3.4rem;
	}
	
	header p {
		font-size: 1.4rem;
	}

	header h2 {
		padding: 3rem 0 1.5rem;
		font-size: 2rem;
	}

	main {
		grid-template-areas: 
		"H"
		"G"
		"F"
		"E"
		"D"
		"C"
		"B"
		"A";
		grid-template-columns: 30rem;
	}
}