* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;	
}

body::before {
	content: '';
	width: 100%;
	height: 40rem;
	background: linear-gradient(135deg, #081449, #214c5b, #2f87a2,#42d3ff);
	background-size: 300% 300%;
	animation: transitionColors 15s ease infinite;

	z-index: -1;
	position: absolute;
	top: 0;
}

body {
	font-family:  'Open Sans', sans-serif;
	background-color: hsl(17.1,25.9%,94.7%);
}

header {
	color: hsl(0,0%,100%);
	text-align: center;
}

.logo {
	position: absolute;
	
	top: 3rem;
	left: 5rem;
}

header h1 {
	padding: 10rem 0 2rem;
	font-size: 4rem;
}

header p {
	font-size: 1.8rem;
}

header a {
	text-decoration: none;
	color: hsl(0,0%,100%);
}

header a:hover {
	color: rgb(76, 233, 244);
}

header h2 {
	padding: 7rem 0 3rem;
	font-size: 2.6rem;
	letter-spacing: 4px;
}

main {
	display: grid;
	justify-content: center;
	grid-template-areas: 
	"G F E"
	"D C B"
	"A H I";
	grid-template-columns: 30rem 30rem 30rem;
	gap: 3.5rem;
}

main div:nth-child(1) {
	grid-area: A;
}

main div:nth-child(2) {
	grid-area: B;
}

main div:nth-child(3) {
	grid-area: C;
}

main div:nth-child(4) {
	grid-area: D;
}

main div:nth-child(5) {
	grid-area: E;
}

main div:nth-child(6) {
	grid-area: F;
}

main div:nth-child(7) {
	grid-area: G;
}

/*
Future next implement

main div:nth-child(8) {
	grid-area: H;
}

main div:nth-child(9) {
	grid-area: I;
}

*/
.card {
	position: relative;
	background: #fff;
	border-radius: 6px;
	height: fit-content;

	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.card:hover {
	transform: translateY(-1.7rem);
	transition: 0.7s;
}

.card:hover .description{
	background: #36528c;
	color: hsl(17.1,25.9%,94.7%);
}

.card:hover .description a{
	color: hsl(17.1,25.9%,94.7%);
}

.card img {
	display: block;
	cursor: pointer;
	width: 30rem;
	height: 16.8rem;
	border-radius: 5px 5px 0 0;
}

.description {
	color: hsl(228.8,80%,15.7%);

	height: 13rem;
	padding: 0.5rem 2rem 2rem;
	border-radius: 0 0 5px 5px;

	transition: 0.5s;	
}

.description h2 {
	font-size: 1.8rem;
	padding-bottom: 1rem;
}

.description h3 {
	font-size: 1.4rem;
	color:hsl(0,0%,65.1%);
}

.description p {
	font-size: 1.4rem;
}

.description a {
	position: absolute;
	left: 2rem;
	bottom: 1rem;
	
	font-size: 1.2rem;
	text-decoration: none;
	color: hsl(228.8,80%,15.7%);
}

footer {
	padding-top: 8rem;
	text-align: center;
	font-size: 1.4rem;
}

footer p {
	padding-bottom: 2rem;
}

/*Animation*/
@keyframes transitionColors {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

@media(max-width: 1030px) {
	main {
		grid-template-areas: 
		"A B"
		"C D"
		"E F";
		grid-template-columns: 30rem 30rem;
	}
}

@media(max-width: 768px) {
	.logo {
		top: 2rem;
		left: 2rem;
	}

	header {
		width: clamp(37.2rem, 29rem + 26vw, 76rem);
		margin: auto;
		padding-bottom: 6rem;
	}

	header h1 {
		font-size: 3.6rem;
	}
	
	header p {
		font-size: 1.5rem;
	}

	main {
		grid-template-areas: 
		"A"
		"B"
		"C"
		"D"
		"E"
		"F";
		grid-template-columns: 30rem;
	}
}